#heading {
    font-size: 36px;
    /* font-family: ; */
}

#customers {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}

.entry {
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}

.img {}